* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #2d3436;
    font-family: Arial, sans-serif;
    height: 100vh;
    margin: 0;
    display: block;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
}

.form {
    padding: 20px 30px;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    width: 300px;
    text-align: center;
}

.form h1 {
    margin-bottom: 20px;
    font-size: 1.5em;
    color: #007bff;
}

.form label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
    text-align: left;
    color: #007bff;
}

.form input {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #007bff;
    border-radius: 4px;
    color: #007bff;
}

input[type="submit"] {
    background-color: #007bff;
    color: white;
    border: none;
    padding: 10px 15px;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s ease;
}

input[type="submit"]:hover {
    background-color: #0056b3;
}

input[type="submit"]:active {
    background-color: #004080;
}

input::placeholder {
    color: #007bff !important;
    opacity: 1;
    font-family: "Arial", sans-serif;
    font-size: 16px;
    font-weight: bold;
}

.custom-placeholder::placeholder {
    color: #007bff !important;
}

/* Compatibilidade com navegadores */
input::-webkit-input-placeholder {
    color: #007bff !important;
}
input::-moz-placeholder {
    color: #007bff !important;
}
input:-ms-input-placeholder {
    color: #007bff !important;
}
input:-moz-placeholder {
    color: #007bff !important;
}

.btnc {
    background-color: red;
    display: inline;
    margin-top: 10px;
    padding: 9px 10px;
    width: 50%;
    border-radius: 4px;
    font-size: 10px;
    text-decoration: none;
    color: #fff;
    transition: background-color 0.3s ease;
}

.btn-cadastrar {
    background-color: #27ae60;
}

.btn-cadastrar:hover {
    background-color: #2ecc71;
}

.btn-recuperar {
    background-color: #d35400;
}

.btn-recuperar:hover {
    background-color: #e67e22;
}

.sucess {
    background-color: #2ecc71;
    color: #fff;
    padding: 10px;
    margin-top: 25px;
    font-size: 13px;
    border-radius: 4px;
}

.error {
    background-color: #c0392b;
    color: #fff;
    padding: 10px;
    margin-top: 20px;
    font-size: 13px;
    border-radius: 4px;
}

.lembrou {
    background-color: #27ae60;
    font-size: 12px;
    padding: 10px;
}

.lembrou-btn {
    text-decoration: none;
    color: #fff;
}


/* Style the navigation menu */
.topnav {
    overflow: hidden;
    background-color: #333;
    position: relative;
  }
  
  /* Hide the links inside the navigation menu (except for logo/home) */
  .topnav #myLinks {
    display: none;
  }
  
  /* Style navigation menu links */
  .topnav a {
    color: white;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    display: block;
  }
  
  /* Style the hamburger menu */
  .topnav a.icon {
    background: black;
    display: block;
    position: absolute;
    right: 0;
    top: 0;
  }
  
  /* Add a grey background color on mouse-over */
  .topnav a:hover {
    /* background-color: #ddd; */
    /* color: black; */
  }
  
  /* Style the active link (or home/logo) */
  .active {
    background-color: #04AA6D;
    color: white;
  }